[Unit]
Description=My Exchange Web App
After=network.target

[Service]
User=ec2-user
Group=ec2-user
ExecStart=/home/ec2-user/bootstrap.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target